.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  place-items: center;
  img {
    max-inline-size: 100%;
    block-size: auto;
    height: 15rem;
  }
}
